@inject NavigationManager Navigation
@inject UserService UserService


@if(Designer is not null)
{
    <h3>Профиль</h3>

    <p>Наименование проектной организации: @Designer.NameOfDesignOrg</p>
    <p>ОГРН: @Designer.PSRN</p>
    <p>ИНН: @Designer.ITN</p>
    <p>КПП: @Designer.KPP</p>
    <p>Адрес: @Designer.Address</p>
    <p>E-mail: @Designer.Email</p>
    <p>Телефон: @Designer.Telephone</p>
    <p>Директор: @Designer.DirectorFN</p>
    <p>ГИП: @Designer.ChiefProjectEngineerFN</p>

    <button name="navigateButton" @onclick=EditProfile>Редактировать профиль</button>
    <button name="exitButton" @onclick=LogOut>Выйти</button>
}

@code {
    [Parameter]
    public Designer Designer { get; set; }

    private void EditProfile()
    {
        Navigation.NavigateTo("/editprofile");
    }

    private void LogOut()
    {
        Navigation.NavigateTo("/authorization");
        UserService.LogOut();
    }
}
